.card {
  display: inline-block;
  background: hsl(209, 23%, 22%);
  border-radius: 10px;
  padding: 10px;
}
.card > div {
  position: relative;
  height: 100px;
}
.bold {
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
}
.greyText {
  color: hsl(0, 0%, 52%);
}
